.page-body {
  font-size: 17px;
}

.row {
  width: 90%;
  margin: auto;
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}

.carousel-inner > .item > img{
  margin:auto;
  }

  #myCarousel {
    width: 900px;
    margin: auto;
  }