.page-body {
  font-size: 17px;
}

.page-body p {
  display: inline;
}

.row {
  width: 90%;
  margin: auto;
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}

a {
  display: inline-block;
}

span {
  cursor: pointer;
}

.carousel-inner > .item > img{
  margin:auto;
  }

  #myCarousel {
    width: 900px;
    margin: auto;
    padding-bottom: 10px;
  }