<div class="jumbotron text-center">
  Home carousel
</div>
<div class="row">
  <div *ngFor="let page of pages; let i = index" class="col-sm-3 text-center">
    <div class="page-header">
      <a [routerLink]="setRoute(page[0])">
        <h3 [innerHTML]="setHeader(page[0])"></h3>
      </a>
      &nbsp;

    </div>
    <div class="page-body">
      <p [innerHTML]="page[1]"></p>
      <span class="glyphicon glyphicon-edit" data-toggle="collapse" [attr.data-target]="'#' + page[0]"></span>
      <div [attr.id]="page[0]" class="collapse">
        <angular-editor [config]="editorConfig" [(ngModel)]="htmlContent"></angular-editor>
        <button (click)="saveTitle(i)">Save</button>
      </div>
    </div>
  </div>
</div>