<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#globalNavBar">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a routerLink="/home">
        <img src="../../../../assets/saperiumlogo.png" alt="saperiumlogo" class="navbar-brand">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="globalNavBar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/home">HOME</a>
        </li>
        <li>
          <a routerLink="/about">ABOUT US</a>
        </li>
        <li>
          <a routerLink="/careers">CAREERS</a>
        </li>
        <li>
          <a routerLink="/services">SERVICES</a>
        </li>
        <li>
          <a routerLink="/contact-us">CONTACT US</a>
        </li>
        <li>
          <a routerLink="/apply">APPLY</a>
        </li>
      </ul>
    </div>
  </div>
</nav>