#collapse1 {
  padding: 1em;
}

.carousel-inner > .item > img{
  margin:auto;
  }

#myCarousel {
  width: 900px;
  margin: auto;
}

.prompt {
  color: red !important;
  float: right;
}

#collapse1{
  width: 80%;
  margin: auto;
}

.panel-group {

  padding-bottom: 50px;
}