footer {
  background-color: #595959;
  color: white !important;
  padding: 1em;
}

.affix {
  bottom: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container-fluid {
  padding-top: 70px;
}