<div class="jumbotron text-center">
  Services carousel
</div>
<div class="body col-md-offset-2 col-md-8">
  <a (click)="editTitle()" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit Title</a>
  <a (click)="editBody()" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit Body</a>
  <div>
    <div [innerHTML]="title"></div>
  </div>
  <div>
    <div [innerHTML]="body"></div>
  </div>
  <div *ngIf="isEditingTitle">
    <h3>Edit Title</h3>
    <angular-editor [config]="editorConfig" [(ngModel)]="htmlContent"></angular-editor>
    <button (click)="saveTitle(htmlContent)">Save</button>
  </div>
  <div *ngIf="isEditingBody">
    <h3>Edit Body</h3>
    <angular-editor [config]="editorConfig" [(ngModel)]="htmlContent1"></angular-editor>
    <button (click)="saveBody(htmlContent1)">Save</button>
  </div>
</div>