<div class="jumbotron text-center">
    About carousel hi packgit
  </div>

  <div class="container">
    <div class="row">
      <div class="col-*-*"></div>
      <div class="col-*-*"></div>
    </div>
    <div class="row">
      <div class="col-*-*"></div>
      <div class="col-*-*"></div>
      <div class="col-*-*"></div>
    </div>
    <div class="row">
      ...
    </div>
  </div>
<!-- 
  <div class="container">
    <img src="../../../assets/johndoe.png" alt="Avatar" style="width:90px">
    <p><span>Chris Fox.</span> CEO at Mighty Schools.</p>
    <p>John Doe saved us from a web disaster.</p>
  </div>
  
  <div class="container">
    <img src="../../../assets/johndoe.png" alt="Avatar" style="width:90px">
    <p><span >Rebecca Flex.</span> CEO at Company.</p>
    <p>No one is better than John Doe.</p>
  </div> -->